{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>编辑文章</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/form.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><a href="{% url 'blog:index' %}">文章发布系统<sup></sup></a></h1>
		<h2></h2>
	</div>
	<div id="menu">
		<ul>
			<li class="active"><a href="{% url 'blog:create_page' %}">添加文章</a></li>
		</ul>
	</div>
</div>
<!-- end header -->
</div>

<!-- start page -->
<div id="page">
	<!-- start content -->
	<div class="smart-green">
        <form  method="post">
            <h1>编辑文章</h1>
             {{ error }}
            {% csrf_token %}
            <p>
                <label for="id_title">文章标题</label>
                {{ form.title }}
            </p>
            <p>
                <label for="id_content">文章内容</label>
                {{ form.content }}
            </p>
            <input type="submit" value="提交" class="button">
        </form>
	</div>
	<!-- end content -->

	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<!-- start footer -->
<div id="footer">
	<p id="legal"></p>
</div>
<!-- end footer -->
</body>
</html>